<h2> Gérer les Tags </h2>

<a class="create-link" (click)="startEditingEmptyTag()">Créer une nouvelle étiquette</a>

@if (editing) {
<form (submit)="submitEditing($event)">
  <label>
    Nom de l'étiquette : <input type="text" [(ngModel)]="editing.name" name="name">
  </label>
  <label>
    Couleur de l'étiquette : <input type="color" [(ngModel)]="editing.color" name="color">
  </label>
  <button type="submit">Valider</button>
  <button type="button" (click)="cancelEditing()">Annuler</button>
</form>
}

<ul>
    @for(tag of tags; track $index) {
      <li (dblclick)="startEditingTag(tag)" >
        <app-tag [id]="tag.id" [name]="tag.name" [color]="tag.color"></app-tag>
        <span class="edit-hint">Double clique pour modifier</span>
        <a class="delete-link" (click)="dialogDeleteTag(tag)">Supprimer</a>
      </li> 
    } @empty {
      <li>Aucun tag !</li>
    }
  </ul>